<div class="container">
  <h2>EC2 Instance List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Instance ID</th>
        <th>Type</th>
        <th>State</th>
        <th>Public IP</th>
        <th>Private IP</th>
        <th>Launch Time</th>
        <th>CPU Utilization</th>
        <th>Memory Utilization</th>
        <th>Disk Usage</th>
        <th>Network I/O</th>
<!--        <th>Stop Instance</th>-->
      </tr>
    </thead>
    <tbody>
<!--      {% for instance in container_info %}-->
<<
      <tr>
<!--        <td>{{ instance.id }}</td>-->
<!--        <td>{{ instance.type }}</td>-->
<!--        <td>{{ instance.state }}</td>-->
<!--        <td>{{ instance.public_ip }}</td>-->
<!--        <td>{{ instance.private_ip }}</td>-->
<!--        <td>{{ instance.launch_time }}</td>-->
<!--        <td>{{ instance.cpu_utilization }}</td>-->
<!--        <td>{{ instance.memory_utilization }}</td>-->
<!--        <td>{{ instance.disk_usage }}</td>-->
<!--        <td>{{ instance.network_io }}</td>-->
<!--        <td>-->
<!--          <form method="post">-->
<!--              {% csrf_token %}-->
<!--              <input type="hidden" name="instance_id" value="{{ instance.id }}">-->
<!--              <button type="submit" class="btn btn-danger">Stop</button>-->
<!--          </form>-->
<!--        </td>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
